.App {
  text-align: center;
}

h1 {
  font-size: 4.2vw; /* only did vw so that it would maintain size with the logo */
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 2.3rem;
  line-height: 1;
  margin: 5% 2% 0;
  font-weight: bold;
}

button {
  background-color: #fdf0d5;
  border: none;
  padding: 3%;
  margin: 5% auto;
  border-radius: 5px;
}

button:hover{
  background-color: #ffd5c2;
}

.styledDetailPanel button {
  padding: 1% 3%;
}

.detail {
  margin: 3%;
  font-size: 3rem;
}

.styledCharacterPanel, .styledDetailPanel {
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.styledDetailPanel h2 {
  margin: none;
  color: #5c9ab3;
}

.styledDetailPanel {
  background-image: url('./images/stars.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tagline {
  margin: 2%;
  color: #fdf0d5;
  text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.7);
  font-size: 1.7rem;
}